Practice.sln
.vs/Practice/FileContentIndex/47b25927-dee0-43f2-9758-458f83208fb0.vsidx
.vs/Practice/FileContentIndex/aae52b79-75e7-48e5-b5c8-3a6f847f36f5.vsidx
.vs/Practice/FileContentIndex/read.lock
.vs/Practice/v15/.suo
.vs/Practice/v15/Browse.VC.db
.vs/Practice/v15/Browse.VC.opendb
.vs/Practice/v15/ipch/AutoPCH/11f16ba56e60c98b/PRACTICE.ipch
.vs/Practice/v16/.suo
.vs/Practice/v16/Browse.VC.db
.vs/Practice/v16/ipch/AutoPCH/9c61f16209014583/PRACTICE.ipch
.vs/Practice/v17/.suo
.vs/Practice/v17/Browse.VC.db
.vs/Practice/v17/ipch/AutoPCH/9c61f16209014583/PRACTICE.ipch
.vs/Practice/v17/ipch/AutoPCH/bb4b44ad3534ce2b/PRACTICE.ipch
Practice/Practice.vcxproj
Practice/Practice.vcxproj.filters
Practice/Practice.vcxproj.user
Practice/.vs/Practice/FileContentIndex/71f70907-9830-4f63-a89a-37d680c55a36.vsidx
Practice/.vs/Practice/FileContentIndex/89cf28ff-70ae-49be-8341-89e360b610a4.vsidx
Practice/.vs/Practice/FileContentIndex/e194d6f6-6e56-483d-9e77-af813c2220cc.vsidx
Practice/.vs/Practice/FileContentIndex/read.lock
Practice/.vs/Practice/v17/.suo
Practice/.vs/Practice/v17/Browse.VC.db
Practice/.vs/Practice/v17/ipch/AutoPCH/4d50b265fb2ca3d7/PRACTICE.ipch
Practice/x64/Debug/_IsIncrementalBuild
Practice/x64/Debug/Practice.Build.CppClean.log
Practice/x64/Debug/Practice.exe.recipe
Practice/x64/Debug/Practice.log
Practice/x64/Debug/Practice.obj
Practice/x64/Debug/vc141.idb
Practice/x64/Debug/vc141.pdb
Practice/x64/Debug/Practice.tlog/CL.command.1.tlog
Practice/x64/Debug/Practice.tlog/CL.read.1.tlog
Practice/x64/Debug/Practice.tlog/CL.write.1.tlog
Practice/x64/Debug/Practice.tlog/link.command.1.tlog
Practice/x64/Debug/Practice.tlog/link.read.1.tlog
Practice/x64/Debug/Practice.tlog/link.write.1.tlog
Practice/x64/Debug/Practice.tlog/Practice.lastbuildstate
x64/Debug/Practice.ilk
x64/Debug/Practice.pdb
